:root {
    --primary-color: #1d4ed8;
    --secondary-color: rgba(29,78,216, 0.2);
    --slate-color: #eaeaea ;
    --dark-color: #4E4B66;
    --ligth-color: #fff;
    --disabled-color: #A0A3BD;
    --input-color: #FCFDFE;
    --love-nest: #FF69B4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Mulish", serif;
    font-weight: 500;
    background-color: var(--slate-color);
}

/* header */

header {
    height: 70px;
    border-bottom: 1px solid var(--disabled-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--ligth-color);
    z-index: 9;
}

header .logo {
    margin-left: 2rem;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--dark-color);
    transition: al1 100ms ease-in-out;
}

header nav ul li a:hover {
    color: var(--primary-color);
}


header .account {
    width: 200px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

header .account a {
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

header .account div:nth-child(1) {
    position: relative;
}

header .account div:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(calc(-50% + 1px));
    width: 10px;
    height: 10px;
    background-image: url('../assets/icons/Forward.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .account div:nth-child(1) a {
    text-decoration: none;
    color: var(--dark-color);
    padding: 0 1rem;
}

header .account div:nth-child(3) {
    height: 50px;
    width: 50px;
    position: relative;
}

header .account div:nth-child(3) img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

header .hamburger {
    display: none;
}

/* end header */

/* main */

main {
    padding: 2rem 0;
}

.container {
    width: 60%;
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--ligth-color);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container > .box-input {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.container > .box-input > label,
.container > .box-input-multiple  label {
    font-size: 0.8rem;
    color: var(--disabled-color);
}

.container > .box-input > input[type = "file"] {
    display: none;
}

.container > .box-input > button {
    width: 90px;
    height: 30px;
    background-color: var(--primary-color);
    color: var(--ligth-color);
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    font-size: 0.8rem;
    cursor: pointer;
}

.container > .box-input > button:active {
    transform: scale(0.97);
}

.container > .box-input > input[type = "text"],
.container > .box-input-multiple  input,
.container > .box-input > input[type = "date"] {
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--disabled-color);
    padding: 0 1rem;
    font-family: "Mulish", serif;
}

.container > .box-input > input:focus,
.container > .box-input > textarea:focus,
.container > .box-input-multiple input:focus {
    outline: 1px solid var(--primary-color);
}

.container > .box-input > input::placeholder {
    color: var(--disabled-color);
}

.container > .box-input > textarea {
    height: 100px;
    border-radius: 5px;
    border: 1px solid var(--disabled-color);
    padding: 1rem;
    font-family: "Mulish", serif;
}

.container > .box-input-multiple {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.8rem;
}

.container > .box-input-multiple > div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

.container > .box-input-multiple > div input {
    width: 100%;
}

.container > .box-input-multiple > div > div {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.container > .box-input > input[type = "date"] {
    width: 200px;
    padding-left: 3rem;
    position: relative;
}

.container > .box-input > input[type = "date"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/calendar\ \(1\)\ 1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container > .box-input > input[type = "date"]::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/Forward.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.container > .box-input > .add-time {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.container > .box-input > .add-time > div {
    width: 60px;
    height: 30px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    position: relative;
}

.container > .box-input > .add-time > div::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../assets/icons/add.svg');
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.container > button {
    height: 40px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--ligth-color);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.container > button:active {
    transform: scale(0.97);
}

/* end main */



/* footer */

footer {
    display: grid;
    grid-template-areas: 
    'tagline explore sponsor follow'
    'copy-rigth copy-rigth copy-rigth copy-rigth';
    padding: 3rem 0;
    column-gap: 2rem;
    background-color: var(--ligth-color);
}

footer > div:nth-child(1) {
    width: 300px;
    grid-area: tagline;
    margin-left: 4rem;
}

footer > div:nth-child(1) p {
    color: var(--disabled-color);
}

footer > div:nth-child(2) {
    grid-area: explore;
}

footer > div:nth-child(3) > div {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: start;
}

footer > div:nth-child(2) a {
    display: block;
    text-decoration: none;
    color: var(--disabled-color);
    transition: all 100ms ease-in-out;
    list-style: none;
    margin-bottom: 0.5rem;
}

footer > div:nth-child(2) a:hover {
    color: var(--primary-color);
}

footer > div:nth-child(3) {
    grid-area: sponsor;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: start;
}

footer > div:nth-child(3) img {
    height: 1.5rem;
}

footer > div:nth-child(4) {
    grid-area: follow;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

footer > div:nth-child(4) > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer > div:nth-child(2) > h6,
footer > div:nth-child(3) > h6,
footer > div:nth-child(4) > h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

footer > div:nth-child(4) > div > a {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: var(--disabled-color);
    transition: all 100ms ease-in-out;
}

footer > div:nth-child(4) > div > a:hover {
    color: var(--primary-color);
}

footer > div:nth-child(4) img {
    width: 25px;
}

footer > div:nth-child(4) p {
    font-size: 0.8rem;
}

footer > div:nth-child(5) {
    grid-area: copy-rigth;
    text-align: center;
    color: var(--disabled-color);
    margin-top: 1rem;
}  

/* end footer */


/* responsive lg */

@media screen and (max-width: 1024px) {
    main .container #table {
        overflow: scroll;
    }
    /* footer */

    footer {
        grid-template-areas: 
        'tagline'
        'explore'
        'sponsor'
        'follow'
        'copy-rigth';
        row-gap: 2rem;
    }

    footer > div:nth-child(2),
    footer > div:nth-child(3),
    footer > div:nth-child(4),
    footer > div:nth-child(5) {
        margin-left: 4rem;
    }

    footer > div:nth-child(5) {
        text-align: left;
    }

    footer > div:nth-child(2) > ul {
        display: flex;
        column-gap: 2rem;
        row-gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }

    footer > div:nth-child(3) > div {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer > div:nth-child(4) > div {
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }

    footer > div:nth-child(4) p {
        display: none;
    }

    footer > div:nth-child(5) {
        margin-top: 2rem;
    }
    /* end footer */
}

/* end responsive lg */

/* responsive md */

@media screen and (max-width: 768px) {
    main .container {  
        grid-template-areas: 
        'title button'
        'date date'
        'table table'
        'slicer slicer';
        grid-template-columns:1fr 1fr;
    }

    main .container .date {
        justify-self: center;
    }

    .container > .box-input-multiple {
        grid-template-columns: 1fr;
    }

    .container > .box-input-multiple > div > div {
        flex-direction: column;
    }

    .container > .box-input > input[type = "date"] {
        width: 100%;
    }
    
    .container > .box-input > .add-time {
        justify-content: space-between;
    }

    /* header */
    header .hamburger {
        display: block;
        width: max-content;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
        row-gap: 5px;
        margin-right: 2rem;
        cursor: pointer;
    }

    header .bar {
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 10px;
        background-color: var(--dark-color);
    }

    header .hamburger .bar:nth-child(2) {
        width: 18px;
    }

    header .account {
        display: none;
    }

    header nav {
        display: none;
    }

    /* end header */
}    
/* end responsive md */