:root {
    --primary-color: #1d4ed8;
    --secondary-color: rgba(29,78,216, 0.2);
    --slate-color: #eaeaea ;
    --dark-color: #4E4B66;
    --ligth-color: #fff;
    --disabled-color: #A0A3BD;
    --input-color: #FCFDFE;
    --love-nest: #FF69B4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Mulish", serif;
    font-weight: 500;
    background-color: var(--slate-color);
}

/* header */

header {
    height: 70px;
    border-bottom: 1px solid var(--disabled-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--ligth-color);
    z-index: 9;
}

header .logo {
    margin-left: 2rem;
}

header .account {
    margin-right: 2rem;
}

header .account a {
    list-style: none;
    text-decoration: none;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--dark-color);
    transition: al1 100ms ease-in-out;
}

header nav ul li a:hover {
    color: var(--primary-color);
}

header .account button {
    width: max-content;
    height: 35px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 0.5px solid var(--primary-color);
    transition: all 100ms ease-in;
    cursor: pointer;
}

header .account #signin-button {
    background-color: var(--ligth-color);
    color: var(--primary-color);
}

header .account #signin-button:active {
    transform: scale(0.95);
}

header .account #signup-button {
    background-color: var(--primary-color);
    color: var(--ligth-color);
}

header .account #signup-button:active {
    transform: scale(0.95);
}

header .hamburger {
    display: none;
}

header .hamburger .bar:nth-child(2) {
    width: 18px;
}

/* header */

/* section */
main section {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    justify-content: center;
}
/* end section */


/* progress */

main .progress {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
}

main .progress div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

main .progress div .circle {
    width: 47px;
    height: 47px;
    background-color: var(--disabled-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ligth-color);
    position: relative;
}

main .progress div .circle.success::after {
    content: '';
    width: 47px;
    height: 47px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background-image: url('../assets/icons/success.svg');
}

main .progress div .circle.active {
    background-color: var(--primary-color);
}

main .progress div.line-dashed {
    width: 30px;
    border-top: 1px dashed var(--primary-color);
}

main .progress div p {
    color: var(--disabled-color);
}

main .progress div p.active {
    color: var(--dark-color);
}

/* end progress */

/* content */

main section:nth-child(2) {
    height: max-content;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

/* choose seat */

/* payment header */
main section:nth-child(2) #choose-seat {
    background-color: var(--ligth-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 2.5rem 1.5rem;
}

main section:nth-child(2) #choose-seat .movie-info {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'thumbnail title title'
    'thumbnail genre genre'
    'thumbnail time button';
    gap: 1rem;
}

main section:nth-child(2) #choose-seat .movie-info .thumbnail {
    grid-area: thumbnail;
    background-image: url('../assets/img/tumbnail/order-page.png');
    width: 180px;
    background-size: cover;
    background-position: top;
    border-radius: 5px;
}

main section:nth-child(2) #choose-seat .movie-info .title {
    grid-area: title;
    font-size: 1.4rem;
}

main section:nth-child(2) #choose-seat .movie-info .genre {
    grid-area: genre;
    display: flex;
    align-items: center;
    gap: 1rem;
}

main section:nth-child(2) #choose-seat .movie-info .genre div {
    height: 30px;
    width: 100px;
    background-color: var(--slate-color);
    color: var(--disabled-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section:nth-child(2) #choose-seat .movie-info .time {
    grid-area: time;
}

main section:nth-child(2) #choose-seat .movie-info button {
    grid-area: button;
    height: 30px;
    width: 100px;
    background-color: var(--primary-color);
    color: var(--ligth-color);
    border-radius: 5px;
    justify-self: end;
    border: none;
    cursor: pointer;
}

main section:nth-child(2) #choose-seat .movie-info button:hover {
    filter: brightness(0.9);
}

main section:nth-child(2) #choose-seat .movie-info button:active {
    transform: scale(0.97);
}

/* end payment header */

main section:nth-child(2) #total-payment {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

/* choose chair */

main section:nth-child(2) #choose-seat .choose .chair{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'screen screen'
    'group1 group2';
    gap: 1rem;
}

main section:nth-child(2) #choose-seat .choose .chair p {
    grid-area: screen;
    text-align: center;
    color: var(--disabled-color);
}

main section:nth-child(2) #choose-seat .choose .chair .group1 {
    grid-area: group1;
    grid-template-areas: 
    'word chair'
    'none number';
} 

main section:nth-child(2) #choose-seat .choose .chair .group2 {
    grid-area: group2;
    grid-template-areas: 
    'none chair2' 
    'none number2';
}

main section:nth-child(2) #choose-seat .choose .chair .group1,
main section:nth-child(2) #choose-seat .choose .chair .group2 {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 7fr 1fr;
    justify-self: start;
    gap: 1.3rem;
}

main section:nth-child(2) #choose-seat .choose .chair .group1 > div > div,
main section:nth-child(2) #choose-seat .choose .chair .group2 > div > div{
    width: 24px;
    height: 24px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(1) {
    grid-area: word;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
}

main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(2) {
    grid-area: chair;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 0.7rem;
    position: relative;
} 

main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(2) > div,
main section:nth-child(2) #choose-seat .choose .chair .group2 > div:nth-child(2) > div {
    background-color: var(--slate-color);
    cursor: pointer;
}

main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(2) > div:hover,
main section:nth-child(2) #choose-seat .choose .chair .group2 > div:nth-child(2) > div:hover {
    background-color: var(--disabled-color);
}

main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(2) > div.selected, 
main section:nth-child(2) #choose-seat .choose .chair .group2 > div:nth-child(2) > div.selected {
    background-color: var(--primary-color);
}

main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(2) > div.sold,
main section:nth-child(2) #choose-seat .choose .chair .group2 > div:nth-child(2) > div.sold {
    background-color: var(--dark-color);
}

main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(2) > div.love-nest,
main section:nth-child(2) #choose-seat .choose .chair .group2 > div:nth-child(2) > div.love-nest {
    background-color: var(--love-nest);
}

main section:nth-child(2) #choose-seat .choose .chair .group2 > div > div.love-nest:nth-child(odd) {
    display: relatif;
}

main section:nth-child(2) #choose-seat .choose .chair .group2 > div > div.love-nest:nth-child(odd)::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--love-nest);
    transform: translateX(15px);

}

main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(3) {
    grid-area: number;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.7rem;
}

main section:nth-child(2) #choose-seat .choose .chair .group2 > div:nth-child(2) {
    grid-area: chair2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 0.7rem;
    position: relative;
}

main section:nth-child(2) #choose-seat .choose .chair .group2 > div:nth-child(3) {
    grid-area: number2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* choose chair */


/* seating key */
main section:nth-child(2) #choose-seat .seating-key
main section:nth-child(2) #choose-seat .seating-key {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

main section:nth-child(2) #choose-seat .seating-key h1 {
    font-size: 1rem;
}

main section:nth-child(2) #choose-seat .seating-key > div {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

main section:nth-child(2) #choose-seat .seating-key > div > div {
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
}

main section:nth-child(2) #choose-seat .seating-key .status {
    width: 24px;
    height: 24px;
    border-radius: 7px;
}

main section:nth-child(2) #choose-seat .seating-key .status.available {
    background-color: var(--slate-color);
}

main section:nth-child(2) #choose-seat .seating-key .status.selected {
    background-color: var(--primary-color);
}

main section:nth-child(2) #choose-seat .seating-key .status.love-nest {
    background-color: #FF69B4;
}

main section:nth-child(2) #choose-seat .seating-key .status.sold {
    background-color: var(--dark-color);
}

main section:nth-child(2) #choose-seat .seating-key .dropdown {
    display: none;
}

main section:nth-child(2) #choose-seat .choosed-chair {
    display: none;
}

/* end choose seat */

/* total payment */

main section:nth-child(2) #total-payment > div:nth-child(1) {
    background-color: var(--ligth-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

main section:nth-child(2) #total-payment > div:nth-child(1) > img {
    width: 150px;
    margin: 0 auto;
}

main section:nth-child(2) #total-payment > div:nth-child(1) > h1 {
    text-align: center;
    font-size: 1.5rem;
}

main section:nth-child(2) #total-payment > div:nth-child(1) .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main section:nth-child(2) #total-payment > div:nth-child(1) .details div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main section:nth-child(2) #total-payment > div:nth-child(1) .details div p:nth-child(1) {
    font-size: 0.8rem;
    color: var(--disabled-color);
}

main section:nth-child(2) #total-payment > div:nth-child(1) .details div p:nth-child(2) {
    font-size: 1rem;
    font-weight: 700;
}

main section:nth-child(2) #total-payment > div:nth-child(1) .payment {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section:nth-child(2) #total-payment > div:nth-child(1) .payment p {
    font-weight: 700;
}

main section:nth-child(2) #total-payment > div:nth-child(1) .payment h2 {
    color: var(--primary-color);
}

main section:nth-child(2) #total-payment > div:nth-child(2) button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: var(--ligth-color);
    cursor: pointer;
}

main section:nth-child(2) #total-payment > div:nth-child(2) button:active {
    transform: scale(0.97);
}

/* end total payment */

/* end content */

/* footer */

footer {
    display: grid;
    grid-template-areas: 
    'tagline explore sponsor follow'
    'copy-rigth copy-rigth copy-rigth copy-rigth';
    padding: 3rem 0;
    column-gap: 2rem;
    background-color: var(--ligth-color);
}

footer > div:nth-child(1) {
    width: 300px;
    grid-area: tagline;
    margin-left: 4rem;
}

footer > div:nth-child(1) p {
    color: var(--disabled-color);
}

footer > div:nth-child(2) {
    grid-area: explore;
}

footer > div:nth-child(3) > div {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: start;
}

footer > div:nth-child(2) a {
    display: block;
    text-decoration: none;
    color: var(--disabled-color);
    transition: all 100ms ease-in-out;
    list-style: none;
    margin-bottom: 0.5rem;
}

footer > div:nth-child(2) a:hover {
    color: var(--primary-color);
}

footer > div:nth-child(3) {
    grid-area: sponsor;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: start;
}

footer > div:nth-child(3) img {
    height: 1.5rem;
}

footer > div:nth-child(4) {
    grid-area: follow;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

footer > div:nth-child(4) > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer > div:nth-child(2) > h6,
footer > div:nth-child(3) > h6,
footer > div:nth-child(4) > h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

footer > div:nth-child(4) > div > a {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: var(--disabled-color);
    transition: all 100ms ease-in-out;
}

footer > div:nth-child(4) > div > a:hover {
    color: var(--primary-color);
}

footer > div:nth-child(4) img {
    width: 25px;
}

footer > div:nth-child(4) p {
    font-size: 0.8rem;
}

footer > div:nth-child(5) {
    grid-area: copy-rigth;
    text-align: center;
    color: var(--disabled-color);
    margin-top: 1rem;
}  

/* end footer */

/* responsive xl */


@media screen and (max-width: 1280px) {

    /* main section:nth-child(2) #choose-seat {
        width: 0;
    } */
    main section:nth-child(2) #choose-seat .choose .chair {
        transform: scale(0.9);
    }

    main section:nth-child(2) #choose-seat .movie-info {
        transform: scale(0.9);
    }

    main section:nth-child(2) #total-payment img,
    main section:nth-child(2) #total-payment h1 {
        transform: scale(0.9);
    }
    
    main section:nth-child(2) #total-payment > div:nth-child(1) .details div p:nth-child(1) {
        font-size: 0.7rem;
    }

    main section:nth-child(2) #total-payment > div:nth-child(1) .details div p:nth-child(2) {
        font-size: 0.8rem;
    }

    main section:nth-child(2) #total-payment > div:nth-child(1) .payment p {
        font-size: 1rem;
    }

    main section:nth-child(2) #total-payment > div:nth-child(1) .payment h2 {
        font-size: 1.2rem;
    }

    main section:nth-child(2) {
        grid-template-columns: 1fr;
    }
}

/* end responsive xl */

/* responsive lg */

@media screen and (max-width: 1024px) {
    main section:nth-child(1) {
        display: none;
    }

    /* choose seat */

    main section:nth-child(2) #choose-seat .movie-info {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'thumbnail' 
        'title' 
        'genre' 
        'time' 
        'button';
        border: 1px solid var(--disabled-color);
        border-radius: 10px;
        padding: 2rem;
    }

    main section:nth-child(2) #choose-seat .movie-info .thumbnail {
        width: 100%;
        aspect-ratio: 4 / 2;
    }

    main section:nth-child(2) #choose-seat .movie-info h1 {
        text-align: center;
    }

    main section:nth-child(2) #choose-seat .movie-info .genre {
        justify-content: center;
    }

    main section:nth-child(2) #choose-seat .movie-info .time {
        text-align: center;
    }

    main section:nth-child(2) #choose-seat .movie-info button {
        justify-self: center;
        border-radius: 15px;
        background-color: rgba(29, 78, 216, 0.2);
        color: var(--primary-color);
    }

    main section:nth-child(2) #choose-seat .choose {
        width: 70%;
        margin: 0 auto;
    }

    main section:nth-child(2) #choose-seat .choose > h1 {
        font-size: 1.4rem;
        font-weight: 400;
    }

    main section:nth-child(2) #choose-seat .choose .chair {
        transform: scale(0.8) translateX(-20px);
    }

    main section:nth-child(2) #total-payment {
        display: none;
    }
    /* end choose seat */

    /* footer */

    footer {
        grid-template-areas: 
        'tagline'
        'explore'
        'sponsor'
        'follow'
        'copy-rigth';
        row-gap: 2rem;
    }

    footer > div:nth-child(2),
    footer > div:nth-child(3),
    footer > div:nth-child(4),
    footer > div:nth-child(5) {
        margin-left: 4rem;
    }

    footer > div:nth-child(5) {
        text-align: left;
    }

    footer > div:nth-child(2) > ul {
        display: flex;
        gap: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer > div:nth-child(3) > div {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer > div:nth-child(4) > div {
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }

    footer > div:nth-child(4) p {
        display: none;
    }
    /* end footer */
}

/* end responsive lg */

/* responsive md */

@media screen and (max-width: 768px) {

    /* header */
    header .hamburger {
        display: block;
        width: max-content;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
        row-gap: 5px;
        margin-right: 2rem;
        cursor: pointer;
    }

    header .bar {
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 10px;
        background-color: var(--dark-color);
    }

    header .account {
        display: none;
    }

    header nav {
        display: none;
    }

    /* end header */

    /* progress */

    main .progress {
        display: none;
    }

    /* end progress */

    /* choose seat */
    main section:nth-child(2) #choose-seat {
        margin: 0 auto;
        width: 400px;
    }

    main section:nth-child(2) #choose-seat .choose {
        margin: 0;
    }

    main section:nth-child(2) #choose-seat .choose .chair {
        transform: scale(0.6) translateX(-70px);
    }
    /* end choose seat */

    /* choosed chair */
    main section:nth-child(2) #choose-seat .seating-key .dropdown {
        display: block;
    }

    main section:nth-child(2) #choose-seat .seating-key .dropdown div:nth-child(1) img {
        transform: rotate(90deg);
    }

    main section:nth-child(2) #choose-seat .seating-key .dropdown {
        display: flex;
        width: 100;
        flex-direction: row;
        column-gap: 3rem;
        padding: 1rem 0;
    }

    main section:nth-child(2) #choose-seat .seating-key div:nth-child(3) {
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 1rem;
        justify-content: center; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }

    main section:nth-child(2) #choose-seat .seating-key div:nth-child(3) > div:nth-child(3) {
        display: flex;
    }

    main section:nth-child(2) #choose-seat .choosed-chair {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    main section:nth-child(2) #choose-seat .choosed-chair div:nth-child(1),
    main section:nth-child(2) #choose-seat .choosed-chair div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }

    main section:nth-child(2) #choose-seat .choosed-chair div:nth-child(2) > div {
        width: 100px;
        height: 60px;
        background-color: var(--slate-color);
        border-radius: 5px;
        display: flex;
        padding: 0 1rem;
        justify-content: space-between;
        align-items: center;
    }

    main section:nth-child(2) #choose-seat .choosed-chair div:nth-child(2) > div img {
        width: 20px;
    }

    main section:nth-child(2) #choose-seat .choosed-chair button {
        width: 90%;
        height: 40px;
        border-radius: 7px;
        background-color: var(--ligth-color);
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        margin: 0 auto;
        transition: all 100ms ease-in-out;
    }

    main section:nth-child(2) #choose-seat .choosed-chair button:active {
        transform: scale(0.96);
    }
     /* end choosed chair */

     /* choose seat */
    main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(1),
    main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(3),
    main section:nth-child(2) #choose-seat .choose .chair .group2 > div:nth-child(3) {
        display: none;
    }

    main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(2)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 220px;
        transform: translateX(-20px);
        border-left: 3px solid green ;
    }

    main section:nth-child(2) #choose-seat .choose .chair .group1 > div:nth-child(2)::after,
    main section:nth-child(2) #choose-seat .choose .chair .group2 > div:nth-child(2)::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 10px;
        width: 230px;
        transform: translateY(20px);
        border-bottom: 3px solid red ;
    }

    main section:nth-child(2) #choose-seat .choose .chair p {
        background-color: #9570FE;
        border-radius: 10px;
    }
     /* end choose seat */
}